.app {
    align-items: center;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: minmax(min-content, 720px) min-content;
    grid-gap: 20px;
}

.sidebar {
    width: max-content;
}
