.app {
    align-items: start;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;

    @include for-tablet-up {
        grid-template-columns: minmax(min-content, max-content) max-content;
    }
}

.sidebar {
    // width: max-content;
}
