* {
    box-sizing: border-box;
    letter-spacing: $letter-spacing-s;
}

body {
    font-family: $font-family-base;
    line-height: $line-height-base;
    margin: 0;
    min-width: 320px;
    padding: 12px;

    @include for-tablet-up {
        padding: 20px;
    }
}

input, select {
    font-family: inherit;
    font-size: inherit;
}

%fa {
    @include font-smoothing;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
