.controls {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: .5em;

    label {
        margin-right: .5em;
    }
}

.control--big {
    grid-column-end: span 2;
}

.control__button {
    background-color: transparent;
    border: 2px solid $blue;
    color: inherit;
    cursor: pointer;
    margin-right: 8px;
    overflow: hidden;
    padding: 0;
    text-indent: 100%;
    width: 24px;
    height: 24px;

    &[value="landscape"] {
        width: 24px / 3 * 4;
    }

    &[value="portrait"] {
        height: 24px / 3 * 4;
    }

    @include hover {
        background-color: hsl(210, 100%, 90%);
    }
}
