.controls {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: .5em;
    max-width: min-content;
    min-width: fit-content;

    label {
        margin-right: .5em;
    }
}

.control--big {
    grid-column-end: span 2;
}

.control--row {
    grid-column-end: span 3;
}

.control--file {
    cursor: pointer;
}

.control__button {
    background-color: transparent;
    border: 2px solid $blue;
    color: inherit;
    cursor: pointer;
    margin-right: 8px;
    overflow: hidden;
    padding: 0;
    text-indent: 100%;
    width: 24px;
    height: 24px;

    &[value="landscape"] {
        width: 24px / 3 * 4;
    }

    &[value="portrait"] {
        height: 24px / 3 * 4;
    }

    &:hover,
    &:focus {
        background-color: hsl(210, 100%, 90%);
    }

    &:disabled {
        background-color: hsl(210, 100%, 90%);
        cursor: default;
    }
}

.control__number {
    // border: 1px solid $blue;
    // border-radius: 3px;
    max-width: 3.66ch;
    text-align: center;
}

.control__icon {
    animation: spin 1s linear infinite paused;
    display: inline-block;

    &--rotate {
        animation-play-state: running;
    }

    &::before {
        @extend %fa;
        content: '\f021';
        cursor: pointer;
        font-size: 1.25em;
        vertical-align: -0.1em;
        line-height: 1;
    }
}

input[type="file"] {
    @include visuallyhidden();
}

.control__control {
    display: none;
}

.control__control:checked + .control__icon {
    &::before {
        color: $blue;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}
