:root {
    --preview-height: 100% / 4 * 3;
}

.preview {
    width: 240px;
    margin-bottom: 20px;
}

.preview__canvas {
    &:not([hidden]) {
        display: flex;
    }
    margin-bottom: 10px;
    position: relative;

    &::before {
        content: '';
        padding-bottom: var(--preview-height);
    }
}

.preview__image {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.preview__label {
    cursor: pointer;
    display: block;
}

.preview__icon {
    &::before {
        @extend %fa;
        content: '\f070';
        font-size: 1.25em;
        margin-right: 6px;
        vertical-align: -0.1em;
        line-height: 1;
    }
}

.preview__control {
    display: none;
}

.preview__control:checked + .preview__icon {
    &::before {
        color: $blue;
        content: '\f06e';
    }
}
