:root {
    --preview-height: 100% / 4 * 3;
}

.preview {
    width: 240px;
    margin-bottom: 12px;
}

.preview__canvas {
    display: flex;
    margin-bottom: 10px;
    max-height: 320px;
    overflow: hidden;
    position: relative;
    transition: margin, max-height .2s;

    &[hidden] {
        margin-bottom: 0;
        max-height: 0;
    }

    &::before {
        content: '';
        padding-bottom: var(--preview-height);
    }

    &--camera {
        cursor: pointer;

        &::after {
            @extend %fa;
            color: rgba(#fff, .2);
            content: '\f083';
            font-size: 4rem;
            line-height: 1;
            margin: 12px 12px auto auto;
            transition: color .1s;
            z-index: 1;
        }

        &:hover {
            &::after {
                color: rgba(#fff, .6);
            }
        }

        &:active {
            &::after {
                color: rgba(#fff, .9);
            }
        }
    }
}

.preview__image {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.preview__error {
    background-color: hsl(210, 100%, 95%);
    border-radius: 3px;
    border: 1px solid currentColor;
    color: $blue;
    font-size: .75rem;
    margin-bottom: 10px;
    padding: .5em .75em;
    position: relative;

    h3 {
        font-size: .875rem;
        margin: 0 0 2px;

        &::before {
            @extend %fa;
            margin-right: .4em;
            content: '\f06a';
        }
    }

    &::after {
        background-color: inherit;
        border: 0 solid currentColor;
        border-width: 0 1px 1px 0;
        content: '';
        display: block;
        position: absolute;
        left: 2em;
        transform: rotate(45deg);
        width: 1em;
        height: 1em;
    }
}

.preview__label {
    cursor: pointer;
    display: block;
}

.preview__icon {
    &::before {
        @extend %fa;
        font-size: 1.25em;
        margin: 0 6px 0 0;
        vertical-align: -0.05em;
        line-height: 1;
    }
    &--preview::before {
        content: '\f06e';
    }
    &--camera::before {
        content: '\f083';
    }
}

.preview__control {
    display: none;
}

.preview__control:checked + .preview__icon {
    &::before {
        color: $blue;
    }
}
